.git
.vs
**/.vs/
.vscode
**/.vscode/
[Bb]in/
**/[Bb]in/
[Oo]bj/
**/[Oo]bj/
out/
**/out/
[Tt]est[Rr]esults/
**/[Tt]est[Rr]esults/
CoverageReport/
**/CoverageReport/
data/
**/data/
logs/
**/logs/
.nuget
**/.nuget/
*.user
*.suo
*.tar.gz
*.zip
*.sqlite
*.sqlite-*
*.osm.pbf
*.pmtiles
